In [5]:
from pmlb import classification_dataset_names, fetch_data

In [8]:
for data_set in classification_dataset_names:
    df = fetch_data(data_set)
    print("Data set name: {}, Data set size: {}".format(data_set, df.shape))

Data set name: GAMETES_Epistasis_2-Way_1000atts_0.4H_EDM-1_EDM-1_1, Data set size: (1600, 1001)
Data set name: GAMETES_Epistasis_2-Way_20atts_0.1H_EDM-1_1, Data set size: (1600, 21)
Data set name: GAMETES_Epistasis_2-Way_20atts_0.4H_EDM-1_1, Data set size: (1600, 21)
Data set name: GAMETES_Epistasis_3-Way_20atts_0.2H_EDM-1_1, Data set size: (1600, 21)
Data set name: GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_50_EDM-2_001, Data set size: (1600, 21)
Data set name: GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_75_EDM-2_001, Data set size: (1600, 21)
Data set name: Hill_Valley_with_noise, Data set size: (1212, 101)
Data set name: Hill_Valley_without_noise, Data set size: (1212, 101)
Data set name: adult, Data set size: (48842, 15)
Data set name: agaricus-lepiota, Data set size: (8145, 23)
Data set name: allbp, Data set size: (3772, 30)
Data set name: allhyper, Data set size: (3771, 30)
Data set name: allhypo, Data set size: (3770, 30)
Data set name: allrep, Data set size: (3772, 30)
Data set name: analcatdata_aids, Data set size: (50, 5)
Data set name: analcatdata_asbestos, Data set size: (83, 4)
Data set name: analcatdata_authorship, Data set size: (841, 71)
Data set name: analcatdata_bankruptcy, Data set size: (50, 7)
Data set name: analcatdata_boxing1, Data set size: (120, 4)
Data set name: analcatdata_boxing2, Data set size: (132, 4)
Data set name: analcatdata_creditscore, Data set size: (100, 7)
Data set name: analcatdata_cyyoung8092, Data set size: (97, 11)
Data set name: analcatdata_cyyoung9302, Data set size: (92, 11)
Data set name: analcatdata_dmft, Data set size: (797, 5)
Data set name: analcatdata_fraud, Data set size: (42, 12)
Data set name: analcatdata_germangss, Data set size: (400, 6)
Data set name: analcatdata_happiness, Data set size: (60, 4)
Data set name: analcatdata_japansolvent, Data set size: (52, 10)
Data set name: analcatdata_lawsuit, Data set size: (264, 5)
Data set name: ann-thyroid, Data set size: (7200, 22)
Data set name: appendicitis, Data set size: (106, 8)
Data set name: australian, Data set size: (690, 15)
Data set name: auto, Data set size: (202, 26)
Data set name: backache, Data set size: (180, 33)
Data set name: balance-scale, Data set size: (625, 5)
Data set name: banana, Data set size: (5300, 3)
Data set name: biomed, Data set size: (209, 9)
Data set name: breast, Data set size: (699, 11)
Data set name: breast-cancer, Data set size: (286, 10)
Data set name: breast-cancer-wisconsin, Data set size: (569, 31)
Data set name: breast-w, Data set size: (699, 10)
Data set name: buggyCrx, Data set size: (690, 16)
Data set name: bupa, Data set size: (345, 7)
Data set name: calendarDOW, Data set size: (399, 33)
Data set name: car, Data set size: (1728, 7)
Data set name: car-evaluation, Data set size: (1728, 22)
Data set name: cars, Data set size: (392, 9)
Data set name: cars1, Data set size: (392, 8)
Data set name: chess, Data set size: (3196, 37)
Data set name: churn, Data set size: (5000, 21)
Data set name: clean1, Data set size: (476, 169)
Data set name: clean2, Data set size: (6598, 169)
Data set name: cleve, Data set size: (303, 14)
Data set name: cleveland, Data set size: (303, 14)
Data set name: cleveland-nominal, Data set size: (303, 8)
Data set name: cloud, Data set size: (108, 8)
Data set name: cmc, Data set size: (1473, 10)
Data set name: coil2000, Data set size: (9822, 86)
Data set name: colic, Data set size: (368, 23)
Data set name: collins, Data set size: (485, 24)
Data set name: confidence, Data set size: (72, 4)
Data set name: connect-4, Data set size: (67557, 43)
Data set name: contraceptive, Data set size: (1473, 10)
Data set name: corral, Data set size: (160, 7)
Data set name: credit-a, Data set size: (690, 16)
Data set name: credit-g, Data set size: (1000, 21)
Data set name: crx, Data set size: (690, 16)
Data set name: dermatology, Data set size: (366, 35)
Data set name: diabetes, Data set size: (768, 9)
Data set name: dis, Data set size: (3772, 30)
Data set name: dna, Data set size: (3186, 181)
Data set name: ecoli, Data set size: (327, 8)
Data set name: fars, Data set size: (100968, 30)
Data set name: flags, Data set size: (178, 44)
Data set name: flare, Data set size: (1066, 11)
Data set name: german, Data set size: (1000, 21)
Data set name: glass, Data set size: (205, 10)
Data set name: glass2, Data set size: (163, 10)
Data set name: haberman, Data set size: (306, 4)
Data set name: hayes-roth, Data set size: (160, 5)
Data set name: heart-c, Data set size: (303, 14)
Data set name: heart-h, Data set size: (294, 14)
Data set name: heart-statlog, Data set size: (270, 14)
Data set name: hepatitis, Data set size: (155, 20)
Data set name: horse-colic, Data set size: (368, 23)
Data set name: house-votes-84, Data set size: (435, 17)
Data set name: hungarian, Data set size: (294, 14)
Data set name: hypothyroid, Data set size: (3163, 26)
Data set name: ionosphere, Data set size: (351, 35)
Data set name: iris, Data set size: (150, 5)
Data set name: irish, Data set size: (500, 6)
Data set name: kddcup, Data set size: (494020, 42)
Data set name: kr-vs-kp, Data set size: (3196, 37)
Data set name: krkopt, Data set size: (28056, 7)
Data set name: labor, Data set size: (57, 17)
Data set name: led24, Data set size: (3200, 25)
Data set name: led7, Data set size: (3200, 8)
Data set name: letter, Data set size: (20000, 17)
Data set name: liver-disorder, Data set size: (345, 7)
Data set name: lupus, Data set size: (87, 4)
Data set name: lymphography, Data set size: (148, 19)
Data set name: magic, Data set size: (19020, 11)
Data set name: mfeat-factors, Data set size: (2000, 217)
Data set name: mfeat-fourier, Data set size: (2000, 77)
Data set name: mfeat-karhunen, Data set size: (2000, 65)
Data set name: mfeat-morphological, Data set size: (2000, 7)
Data set name: mfeat-pixel, Data set size: (2000, 241)
Data set name: mfeat-zernike, Data set size: (2000, 48)
Data set name: mnist, Data set size: (70000, 785)
Data set name: mofn-3-7-10, Data set size: (1324, 11)
Data set name: molecular-biology_promoters, Data set size: (106, 59)
Data set name: monk1, Data set size: (556, 7)
Data set name: monk2, Data set size: (601, 7)
Data set name: monk3, Data set size: (554, 7)
Data set name: movement_libras, Data set size: (360, 91)
Data set name: mushroom, Data set size: (8124, 23)
Data set name: mux6, Data set size: (128, 7)
Data set name: new-thyroid, Data set size: (215, 6)
Data set name: nursery, Data set size: (12958, 9)
Data set name: optdigits, Data set size: (5620, 65)
Data set name: page-blocks, Data set size: (5473, 11)
Data set name: parity5, Data set size: (32, 6)
Data set name: parity5+5, Data set size: (1124, 11)
Data set name: pendigits, Data set size: (10992, 17)
Data set name: phoneme, Data set size: (5404, 6)
Data set name: pima, Data set size: (768, 9)
Data set name: poker, Data set size: (1025009, 11)
Data set name: postoperative-patient-data, Data set size: (88, 9)
Data set name: prnn_crabs, Data set size: (200, 8)
Data set name: prnn_fglass, Data set size: (205, 10)
Data set name: prnn_synth, Data set size: (250, 3)
Data set name: profb, Data set size: (672, 10)
Data set name: promoters, Data set size: (106, 59)
Data set name: ring, Data set size: (7400, 21)
Data set name: saheart, Data set size: (462, 10)
Data set name: satimage, Data set size: (6435, 37)
Data set name: schizo, Data set size: (340, 15)
Data set name: segmentation, Data set size: (2310, 20)
Data set name: shuttle, Data set size: (58000, 10)
Data set name: sleep, Data set size: (105908, 14)
Data set name: solar-flare_1, Data set size: (315, 13)
Data set name: solar-flare_2, Data set size: (1066, 13)
Data set name: sonar, Data set size: (208, 61)
Data set name: soybean, Data set size: (675, 36)
Data set name: spambase, Data set size: (4601, 58)
Data set name: spect, Data set size: (267, 23)
Data set name: spectf, Data set size: (349, 45)
Data set name: splice, Data set size: (3188, 61)
Data set name: tae, Data set size: (151, 6)
Data set name: texture, Data set size: (5500, 41)
Data set name: threeOf9, Data set size: (512, 10)
Data set name: tic-tac-toe, Data set size: (958, 10)
Data set name: titanic, Data set size: (2201, 4)
Data set name: tokyo1, Data set size: (959, 45)

Data set name: twonorm, Data set size: (7400, 21)
Data set name: vehicle, Data set size: (846, 19)
Data set name: vote, Data set size: (435, 17)
Data set name: vowel, Data set size: (990, 14)
Data set name: waveform-21, Data set size: (5000, 22)
Data set name: waveform-40, Data set size: (5000, 41)
Data set name: wdbc, Data set size: (569, 31)
Data set name: wine-quality-red, Data set size: (1599, 12)
Data set name: wine-quality-white, Data set size: (4893, 12)
Data set name: wine-recognition, Data set size: (178, 14)
Data set name: xd6, Data set size: (973, 10)
Data set name: yeast, Data set size: (1479, 9)